.hero-section{
    height: 100vh;
    width: 100%;
    background-color: #000000;
    padding-top: 5rem;
}

.video-bg{
    position: absolute;
    /* transform: scaleY(100%); */
}
.video-bg video{
    width: 100%;
    height: 100vh;
    /* transform: scaleX(100%); */
}

.hero-content{
    height: 90%;
    position: relative;
    color: white;
    display: flex;
    padding: 0 2rem;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

.hero-content h1{
    font-size: 4rem;
    font-family: "font-1";
    font-weight: 300;
}

.hero-content span{
    font-family: "font-2";
}

.awards{
    position: absolute;
    bottom: 0;
    right: 2rem;
    display: flex;
    gap: 1rem;
    padding: 0.5rem;
    background-color: white;
    border-radius: 5px;
    z-index: 1;
}

.awards .awards-img{
    width: 200px;
    object-fit: cover;
    object-position: center;
}

.text{
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.text>h2{
    text-transform: uppercase;
    font-family: "font-1";
    font-size: 1rem;
}
.text div{
    line-height: 1;
    font-family:"font-1" ;
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
    margin-bottom: 1rem;

}
.text div .bold-text{
    /* font-family: "font-1"; */
    font-size: 1rem;
    font-weight: bold;
    color: black;
    margin: 0;
}
.text div p{
    font-size: 0.8rem;
    color: gray;
    margin: 0;
}