.hero-section{
    height: 100vh;
    width: 100%;
    background-color: #000000;
}

.video-bg{
    width: 100%;
    height: 100vh;
    position: absolute;
}
.video-bg video{
    width: 100%;
    height: 100vh;
}

.hero-content{
    height: 90%;
    position: relative;
    color: white;
    display: flex;
    padding: 0 1rem;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

.hero-content h1{
    font-size:7em;
    font-family: "font-1";
    font-weight: 300;
    cursor: pointer;
}

.hero-content span{
    font-family: "font-2";
}

.awards{
    position: absolute;
    bottom: 2rem;
    right: 2rem;
    display: flex;
    gap: 1rem;
    padding: 0.5rem;
    background-color: white;
    z-index: 1;
}

.awards .awards-img{
    width: 150px;
    height: 150px;
    object-fit: cover;
    object-position: center;
}

.text{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.text>h2{
    text-transform: uppercase;
    font-family: "font-1";
    font-size: 0.9rem;
    font-weight: 200;
}
.text div{
    line-height: 1;
    font-family:"font-1" ;
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
    margin-bottom: 1rem;

}
.text div .bold-text{
    font-size: 1.3rem;
    font-weight: bold;
    color: black;
    font-weight: 300;
    margin: 0;
}
.text div p{
    font-size: 01rem;
    color: gray;
    margin: 0;
}