.music {
  padding: 5rem 0;
  width: 100%;
  height: 150vh;
  background-color: rgb(0, 0, 0);
  color: #fff;
}

.heading-text {
  font-size: 2.5vw;
  padding: 172px 24px 52px;
  /* background-color: red; */
}
.heading-text p {
  width: 100%;
  display: flex;
  justify-content: end;
  font-family: "font-1";

}
.video-section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.video-section .bg-vid video {
  width: 100%;
  position: absolute;
}

.video-section .music-section {
  width: 24vw;
  top: 2rem;
  left: 2rem;
  padding: 1rem;
  position: relative;
  color: black;
  background-color: #fff;
}

.music-section > h1 {
  font-family: "font-2";
  margin-bottom: 1rem;
}
.music-section .reel {
  position: relative;
  overflow: hidden;
}
.reel video {
  width: 100%;
}
.reel img {
  position: absolute;
  top: 0;
  right: 0.01rem;
  width: 2rem;
  /* background-color: black; */
}
.reel p {
  color: gray;
  text-transform: uppercase;
  font-family: "font-1";
  font-size: 0.9vw;
  font-weight: 500;
}

.song {
  margin-top: 3rem;
  font-family: "font-1";
  font-size: 1.2vw;
  font-weight: 600;
}
.song p:nth-child(2) {
  font-size: 0.9vw;
  color: gray;
  font-weight: 300;
}
