.exhibition{
    /* width: 100%; */
    height: 100vh;
    background-color: red;
    padding-top: 8rem;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
}

.ex-heading{
    font-size: 6rem;
    font-family: "font-1";
}

.ex-heading span{
    font-family: "font-2";
}