.footer {
  width: 100%;
  height: 70vh;
}

.footer-top {
  display: flex;
  color: white;
  padding: 2rem 2rem;
  transition: all 0.5s ease;
  border-top: 1px solid gray;
  justify-content: space-between;
  border-bottom: 1px solid gray;
  background-color: rgb(0, 0, 0);
}
.footer-top:hover {
  border: none;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
}
.footer-top h1 {
  font-size: 3vw;
  font-family: "font-1";
  cursor: pointers;
}
.footer-top h1 span {
  font-family: "font-2";
}
.footer-mid {
  display: flex;
  padding: 2rem 0;
  background-color: #000;
  justify-content: space-between;
}
.footer-left {
  gap: 1rem;
  width: 50vw;
  display: grid;
  background-color: #000000;
  grid-template-columns: 2fr 1fr;
}
.footer-left .menu > p {
  padding: 1rem 2rem;
  font-size: 1.1rem;
  font-family: "font-1";
  background-color: white;
}

.menu p span {
  font-family: "font-2";
}
.menu-link {
  margin-top: 1rem;
  display: flex;
}
.menu-link .column1 {
  padding: 0 2rem;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 5px;
  text-decoration: none;
  font-family: "font-1";
}
.menu-link .column1 a {
  width: 100%;
  height: 100%;
  text-decoration: none;
  font-size: 1.1rem;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
  z-index: 5;
  color: white;
}
.column1 a > p {
  width: max-content;
  position: relative;
  /* background-color: pink; */
  z-index: 4;
}
.column1 a:hover > p{
  color: #000;
}
.column1 a .bg-white {
  position: absolute;
  opacity: 0;
  z-index: 3;
  width: 100%;
  height: 21px;
  top:50%;
  background-color: rgb(255, 255, 255);
  transition: all 0.3s ease;
}
.column1 a:hover .bg-white{
  opacity: 1;
  top: 0;
}

/*  */
.menu-link .column2 {
  height: 100%;
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  font-family: "font-1";
}
.menu-link .column2 a {
  width: 100%;
  height: 100%;
  text-decoration: none;
  font-size: 1.1rem;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1px;
  z-index: 5;
  color: white;
}
.column2 a > p {
  width: max-content;
  position: relative;
  z-index: 4;
}
.column2 a:hover > p{
  color: #000;
}
.column2 a .bg-white {
  position: absolute;
  opacity: 0;
  z-index: 3;
  width: 100%;
  height: 21px;
  top:50%;
  background-color: rgb(255, 255, 255);
  transition: all 0.3s ease;
}
.column2 a:hover .bg-white{
  opacity: 1;
  top: 0;
}
/*  */
.footer-left .social {
  padding: 0 1rem;
  color: white;
}
.footer-left .social>p {
  padding: 1rem;
  color: #000;
  font-size: 1.2rem;
  font-family: "font-1";
  background-color: white;
}
.social>p span {
  font-family: "font-2";
}

/* 

/*  */
.social .column3 {
  padding: 0 1rem;
  display: flex;
  margin-top: 1rem;
  flex-direction: column;
  font-family: "font-1";
}
.social .column3 a {
  width: max-content;
  text-decoration: none;
  font-size: 1.1rem;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1px;
  z-index: 5;
  color: white;
}
.column3 a > p {
  width: max-content;
  position: relative;
  z-index: 4;
}
.column3 a:hover > p{
  color: #000;
}
.column3 a .bg-white {
  position: absolute;
  opacity: 0;
  z-index: 3;
  width: 100%;
  height: 21px;
  top:50%;
  background-color: rgb(255, 255, 255);
  transition: all 0.3s ease;
}
.column3 a:hover .bg-white{
  opacity: 1;
  top: 0;
}
/*  */
.footer-right {
  width: 40vw;
  color: white;
  background: #000000;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.footer-right > p {
  padding: 1rem 2rem;
  color: #000;
  font-size: 1.2rem;
  font-family: "font-1";
  background-color: white;
}
.subscribe {
  background-color: rgb(255, 255, 255);
  color: #000;
  padding: 1rem 2rem;
}
.subscribe p {
  margin-bottom: 1rem;
  font-size: 1.1rem;
  font-family: "font-1";
}
.subscribe .input {
  background-color: #000;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}
.input input {
  width: 100%;
  height: 50px;
  font-size: 1.2rem;
  background-color: #000;
  color: white;
  border: none;
  outline: none;
}

.input button {
  background-color: #000;
  color: white;
  font-size: 1.1rem;
  border: none;
  outline: none;
}

.footer-end .end-text {
  padding-top: 20vh;
  padding-bottom: 2rem;
  padding-right: 2rem;
  padding-left: 2rem;
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
  background-color: #000000;
  color: white;
}
.end-text p {
  cursor: pointer;
  font-family: "font-1";
}
.end-text p a{
  text-decoration: none;
  color: white;
}