.footer {
  width: 100%;
  height: 70vh;
}

.footer-top {
  display: flex;
  color: white;
  padding: 2rem 2rem;
  transition: all 0.5s ease;
  border-top: 1px solid gray;
  justify-content: space-between;
  border-bottom: 1px solid gray;
  background-color: rgb(0, 0, 0);
}
.footer-top:hover {
  border: none;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
}
.footer-top h1 {
  font-size: 3vw;
  font-family: "font-1";
}
.footer-top h1 span {
  font-family: "font-2";
}
.footer-mid {
  display: flex;
  padding: 2rem 0;
  background-color: #000;
  justify-content: space-between;
}
.footer-left {
  gap: 1rem;
  width: 50vw;
  display: grid;
  background-color: #000000;
  grid-template-columns: 2fr 1fr;
}
/* .footer-left .menu {
  padding: 0 1rem;
} */
.footer-left .menu p {
  padding: 1rem 2rem;
  font-size: 1.2rem;
  font-size: 1.1rem;
  font-family: "font-1";
  background-color: white;
}

.menu p span {
  font-family: "font-2";
}
.menu-link {
  gap: 14rem;
  display: flex;
  color: rgb(255, 255, 255);
}
.menu-link ul {
  padding: 0 2rem;
  margin-top: 1rem;
  list-style: none;
  font-size: 1.1rem;
  font-family: "font-1";
}
.menu-link ul li {
  margin-bottom: 0.3rem;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}
.menu-link ul li:hover {
  background-color: rgb(67, 65, 65);
}
.footer-left .social {
  padding: 0 1rem;
  color: white;
}
.footer-left .social p {
  padding: 1rem;
  color: #000;
  font-size: 1.2rem;
  font-family: "font-1";
  background-color: white;
}
.social p span {
  font-family: "font-2";
}
.social ul {
  padding: 0 1rem;
  margin-top: 1rem;
  list-style: none;
  font-size: 1.1rem;
  font-family: "font-1";
}

.social ul li {
  width: max-content;
  margin-bottom: 0.3rem;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.social ul li:hover {
  background-color: rgb(67, 65, 65);
}

.footer-right {
  width: 40vw;
  color: white;
  background: #000000;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.footer-right > p {
  padding: 1rem 2rem;
  color: #000;
  font-size: 1.2rem;
  font-family: "font-1";
  background-color: white;
}
.subscribe {
  background-color: rgb(255, 255, 255);
  color: #000;
  padding: 1rem 2rem;
}
.subscribe p {
  margin-bottom: 1rem;
  font-size: 1.1rem;
  font-family: "font-1";
}
.subscribe .input {
  /* width: 100%; */
  background-color: #000;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}
.input input {
  width: 100%;
  height: 50px;
  font-size: 1.2rem;
  background-color: #000;
  color: white;
  border: none;
  outline: none;
}

.input button {
  background-color: #000;
  color: white;
  font-size: 1.1rem;
  border: none;
  outline: none;
}

.footer-end .end-text {
  padding-top: 20vh;
  padding-bottom: 2rem;
  padding-right: 2rem;
  padding-left: 2rem;
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
  background-color: #000000;
  color: white;
}
.end-text p {
  font-family: "fnot-1";
}
